<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>すべての投稿内容の確認</title>
</head>
<body>

<h1>すべての投稿内容の確認</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>名前</th>
      <th>メールアドレス</th>
      <th>性別</th>
      <th>好きな色</th>
      <th>製品名</th>
      <th>値段</th>
      <th>自由記述</th>
      <th>作成日時</th>
    </tr>
  </thead>
  <tbody>
    <% @answers.each do |answer| %>
    <tr data-id="<%= answer.id %>">
      <td><%= answer.id %></td>
      <td><%= answer.name %></td>
      <td><%= answer.email %></td>
      <td><%= answer.gender %></td>
      <td><%= answer.color %></td>
      <td><%= answer.item %></td>
      <td><%= answer.money %></td>
      <td><%= answer.free_text %></td>
      <td><%= answer.created_at %></td>
    </tr>
    <% end %>
  </tbody>
</table>

</body>
</html>